<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Сервіс Обліку Студентів</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="main.css" type="text/css">
	</head>

	<body>
		<div class="container">
			<div class="row">
			<div class="col-xs-10" id="header">
				<h1>Сервіс Обліку Студентів</h1>
			</div>
			<div class="col-xs-2" id="group-selector">
					<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Групи:
						<span class="caret"></span>
					</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li ><a role="menuitem" href="#">XMX - 11</a></li>
							<li ><a role="menuitem" href="#">XMX - 12</a></li>
							<li ><a role="menuitem" href="#">XMX - 13</a></li>
							<li class="divider"></li>
							<li ><a role="menuitem" href="#">Всі групи</a></li>
						</ul>
					</div>
			</div>
			<div class="row">
				<div class="col-xs-12" id="header">
					<ul class="nav nav-tabs">
						<li ><a href="#">Студенти</a></li>
						<li ><a href="#">Групи</a></li>
						<li class="active"><a href="#">Відвідування</a></li>
						<li ><a href="#">Успішність</a></li>
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-success" role="alert" id="alert">Студент успішно доданий</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<h2>Відвідування</h2>
				</div>		
			</div>
			
			<div class="row">
				<div class="col-xs-12">
				<p position= "center">
				<a href=#>&larr;</a>Березень<a href=#>&rarr;</a>
				</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-striped">
				<thead>
					<tr> 
						<th><a href="#">#</a></th>
						<th><a href="#">Студент</a></th>
						<th><a href="#">Білет</a></th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>10</th>
						<th>13</th>
						<th>14</th>
						<th>15</th>
						<th>16</th>
						<th>17</th>
						<th>20</th>
						<th>21</th>
						<th>22</th>
						<th>23</th>
						<th>24</th>
						<th>27</th>
						<th>28</th>
						<th>29</th>
						<th>30</th>
						<th>31</th>						
					</tr>
				</thead>
				<tbody>
				{% for visiting in visiting%}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td><a href="#">{{ visiting.name }}</a></td>
						<td><a href="#">{{ visiting.ticket }}</a></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
						<td><input type="checkbox"></td>
					</tr>
				{%endfor%}	
				</tbody>
			</table>

				</div>
			</div>					
		</div>
		
		<div class="row" id="footer">
			<div class="col-xs-12">
			<p>&copy;2015 Cервіс Обліку Студентів</p>
			</div>
		</div>	
	</div>
		<!--JavaScripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</body>
</html>