{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}">
        {% block extra_css %}{% endblock extra_css %}
    </head>

    <body>
        <div class="container">
            <div class="row">
            <div class="col-xs-8" id="header">
                <h1>Сервіс Обліку Студентів</h1>
            </div>
                <div class="col-xs-4" id="group-selector">
                    <strong>Група:</strong>
                    <select>
                      <option value="">Усі Студенти</option>
                      <option value="">ХМХ 11, -------</option>
                      <option value="">ХМХ 12, -------</option>
                      <option value="">ХМХ 13, -------</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="header">
                    <ul class="nav nav-tabs">
                        <li role="presentation" {% if request.path == '/' %}class="active"{% endif %}><a href="{% url "home" %}">Студенти</a></li>
                        <li role="presentation" {% if '/journal' in request.path %}class="active"{% endif %}><a href="{% url "journal" %}">Відвідування</a></li>
                        <li role="presentation" {% if '/groups' in request.path %}class="active"{% endif %}><a href="{% url "groups" %}">Групи</a></li>
                        <li role="presentation" {% if '/notes' in request.path %}class="active"{% endif %}><a href="{% url "groups" %}">Успішність</a></li>
                        <li role="presentation" {% if '/contact-admin' in request.path %}class="active"{% endif %}><a href="{% url "contact_admin" %}">Контакт </a></li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    {% block status_message %}
                        {% if request.GET.status_message %}
                        <div class="alert alert-success" role="alert" id="alert">{{ request.GET.status_message}}</div>
                        {% elif request.GET.status_message_cancel %}
                        <div class="alert alert-warning" role="alert" id="alert">{{ request.GET.status_message_cancel }}</div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <h2>{% block title %}{% endblock title %}</h2>
                {% block content %}{% endblock content %}
            </div>                  
        </div>
        
        <div class="row" id="footer">
            <div class="col-xs-10">
            &copy;2015 Cервіс Обліку Студентів
            </div>
            <div class="col-xs-2">
                <a href="admin/">Admin LogIn</a>
            </div>
        </div>  
    </div>
        <!--JavaScripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>